
body{
position: relative;
font: 9pt/140% Verdana,Arial, Helvetica, Geneva, sans-serif;
color: #222222;
font-weight: lighter;
margin: 0;
padding: 0;
background: #f2f2f2;
text-align:left;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 80%;
    background: #000000;
    background-color: #000000;
    height: 20px;
    background: #000000 url(images/sf.png) no-repeat 9px center;
    border: solid 1px #333333;
    padding: 4px 4px 4px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    margin-bottom:0px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #1677c2;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.b1{
cursor: pointer; cursor: hand; font-weight: bold; white-space:nowrap;
}
.b2{
display:none; visibility:hidden; white-space:nowrap;
}
.obox{
margin: 10px 10px 0 0;
border-radius: 12px;
background-image: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), to(#c9cbcd), color-stop(3%, #f2f2f2), color-stop(12%, #f2f2f2), color-stop(90%, #f2f2f2));
background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #f2f2f2 12%, #f2f2f2 90%, #c9cbcd);
background-image: -moz-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #f2f2f2 12%, #f2f2f2 90%, #c9cbcd);
background-image: -o-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #f2f2f2 12%, #f2f2f2 90%, #c9cbcd);
background-image: -ms-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #f2f2f2 12%, #f2f2f2 90%, #c9cbcd);
background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2 3%, #f2f2f2 12%, #f2f2f2 90%, #c9cbcd);
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
margin-bottom: 10px;
}
.box{
margin: 10px 10px 0 0;
margin-bottom: 10px;
}
.obox2{
margin: 10px 10px 0 0;
border-radius: 12px;
background-image: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), to(#c9cbcd), color-stop(3%, #f2f2f2), color-stop(12%, #c9cbcd), color-stop(90%, #f2f2f2));
background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #c9cbcd 12%, #f2f2f2 90%, #c9cbcd);
background-image: -moz-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #c9cbcd 12%, #f2f2f2 90%, #c9cbcd);
background-image: -o-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #c9cbcd 12%, #f2f2f2 90%, #c9cbcd);
background-image: -ms-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #c9cbcd 12%, #f2f2f2 90%, #c9cbcd);
background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2 3%, #c9cbcd 12%, #f2f2f2 90%, #c9cbcd);
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
margin-bottom: 10px;

}
.titlediv{
margin-bottom: 10px;
padding:10px;
font-size:13pt;
margin-top:10px;
margin-left:10px;
width:96%;
border-radius: 12px;
}
::-webkit-scrollbar {
width: 3px;
height: 3px ;
}
::-webkit-scrollbar-track {
background: #f2f2f2;
-webkit-box-shadow: inset 1px 1px 2px #f2f2f2;
border: 0px solid #000000;
border-radius: 0px;
}
::-webkit-scrollbar-thumb {
background: #c9cbcd;
-webkit-box-shadow: inset 1px 1px 2px rgba(50, 50, 50, 0.3);
border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
background: #c9cbcd;
}
::-webkit-scrollbar-thumb:active {
background: #f2f2f2;
-webkit-box-shadow: inset 1px 1px 2px rgba(50, 50, 50, 0.3);
}
::-webkit-scrollbar-button {
  background-color: #c9cbcd;
  background-repeat:no-repeat;
  width:3px;
  height:3px
}

.box3{

border-top-right-radius: 6px;
border-top-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
background-color:#666666;
background:#666666;
margin-bottom: 0px;
margin-top: 10px;
padding:5px 5px 5px 5px;
}.box4{

border-top-right-radius: 6px;
border-top-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
background-color:#c9cbcd;
background:#c9cbcd;
padding:5px 5px 5px 5px;


margin-bottom: 0px;
margin-top: 10px;


}

.box5{
border-top-right-radius: 6px;
border-top-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
background-color:#f2f2f2;
background:#f2f2f2;
margin-bottom: 0px;
margin-top: 10px;

padding:5px 5px 5px 5px;

}


.box2{
border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
margin: 10px 10px 0 0;
background-color:#dddfe2;
background:#dddfe2;
background-image: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), to(#dddfe2));
background-image: -webkit-linear-gradient(top, #f2f2f2, #dddfe2);
background-image: -moz-linear-gradient(top, #f2f2f2, #dddfe2);
background-image: -o-linear-gradient(top, #f2f2f2, #dddfe2);
background-image: -ms-linear-gradient(top, #f2f2f2, #dddfe2);
background-image: linear-gradient(to bottom, #f2f2f2, #dddfe2);
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
margin-bottom: 10px;

}

.fts{
width:58px;
padding:5px 5px 5px 5px;
height: 145px;
overflow:hidden;
float:left;
margin: 5px 10px 10px 0px;

cursor:pointer;
cursor:hand;
}
.fts .smf{
width:38px;
height:38px;
margin-bottom:4px;
-webkit-box-shadow: 0 0px 3px #c9cbcd;
-moz-box-shadow:0 0px 3px #c9cbcd;
box-shadow:0 0px 3px #c9cbcd;
}
.fts .smf:hover{
width:38px;
height:38px;
margin-bottom:4px;
 -webkit-box-shadow: 0 0px 5px #1677c2;
-moz-box-shadow:0 0px 5px #1677c2;
box-shadow:0 0px 5px #1677c2;
}
.img:hover{
 -webkit-box-shadow: 0 0px 5px #1677c2;
-moz-box-shadow:0 0px 5px #1677c2;
box-shadow:0 0px 5px #1677c2;
}
.itemdiv:hover{
-webkit-box-shadow: 0 0px 16px #1677c2;
-moz-box-shadow:0 0px 16px #1677c2;
box-shadow:0 0px 16px #1677c2;
}

//bootstrap table fix
.table2 {
  width: 100%;
  margin-bottom: 0px;
}

.table2 th,
.table2 td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: none;
}
.onav{
color: #222222;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
clear: both;
height: 20px;
padding: 10px 20px 10px 20px;
}
.onav2{
color: #222222;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
clear: both;
height: 20px;
padding: 12px 20px 10px 20px;
}

.onav ul li{
float: left;
padding: 0 10px;
margin: 0 10px 0 0;
color: #fff;
font-weight: bold;
height: 25px;
line-height: 25px;
font-size: 13px;
cursor: pointer;

-webkit-box-shadow: 0 -1px 1px #646566;
-moz-box-shadow:0 -1px 1px #646566;
box-shadow:0 1px -1px #646566;
text-shadow: #000000 0 -1px 1px;
}
nav ul li:hover{
background-color: #ccc;
box-shadow: 0 -1px 1px #fff;
-webkit-box-shadow: 0 -1px 1px #fff;
-moz-box-shadow: 0 -1px 1px #fff;
color: #646566;
text-shadow: #fff 0 1px 1px;
}
.navig {
background: #1677c2;
border: 1px solid #8d8e8f;
color: #222222;
padding : 0px 0px 0px 0px;
background-image: url(grad.php?h=46&w=1&e=[lnc10]&s=[nc10]&d=vertical);
-webkit-box-shadow: 0 0px 5px #a1a2a4;
-moz-box-shadow:0 0px 5px #a1a2a4;
box-shadow: 0 0px 5px #a1a2a4;

}
.shadow {
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.19), inset 0 0 5px #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.19), inset 0 0 5px #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.19), inset 0 0 5px #f2f2f2;
}
.itemdiv {
margin: 0px 0px 0px 0px;
padding: 10px 10px 10px 10px;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.19), inset 0 0 5px #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.19), inset 0 0 5px #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.19), inset 0 0 5px #f2f2f2;
}


.content{
padding: 20px 20px 10px 20px;
}
.clear{
clear: both;
}

.navi2 {
-webkit-box-shadow: -2px 3px 5px rgba(255,255,255,0.31), inset 4px -3px 7px rgba(0,0,0,0.11);
-moz-box-shadow: -2px 3px 5px rgba(255,255,255,0.31), inset 4px -3px 7px rgba(0,0,0,0.11);
box-shadow: -2px 3px 5px rgba(255,255,255,0.31), inset 4px -3px 7px rgba(0,0,0,0.11);
}

.navi4 {
padding: 3px 3px 3px 3px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.55), inset 0 1px 0 #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.55), inset 0 1px 0 #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.55), inset 0 1px 0 #f2f2f2;

}
.onavi4 {
align: center;
padding: 6px 12px 6px 12px;
margin-right: -2px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.55), inset 0 1px 0 #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.55), inset 0 1px 0 #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.55), inset 0 1px 0 #f2f2f2;

}
.onavi4d {
padding: 3px 3px 3px 3px;

}
.onavi4d:hover {
padding: 3px 3px 3px 3px;
background: rgba(255,255,255,0.22);
}
.onavi4:hover {
align: center;
height: 20px;
padding: 6px 12px 6px 12px;
margin-right: -2px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.55), inset 0 1px 0 #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.55), inset 0 1px 0 #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.55), inset 0 1px 0 #f2f2f2;
background: rgba(255,255,255,0.22);
}

.loading{
background: #ffffff;
padding: 10px;
color: #555555;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
margin: 10px 0px 10px 0px;
}
.footer {background-color: #000000; color: #f2f2f2; padding:20px; }
.footer a:link {COLOR: #c9cbcd; TEXT-DECORATION: none}
.footer a:visited {COLOR:#c9cbcd; TEXT-DECORATION: none}
.footer a:hover {COLOR: #c9cbcd; TEXT-DECORATION: underline}
.footer a:active {COLOR: #c9cbcd; TEXT-DECORATION: underline}
.bottom_links { background-color: #505152; background-image: url(grad.php?h=20&w=1&e=505152&s=464748&d=crystal); background-repeat:repeat-x; color: #f2f2f2; }
.hvr a:link {COLOR: #f2f2f2; TEXT-DECORATION: none}
.hvr a:visited {COLOR:#f2f2f2; TEXT-DECORATION: none}
.hvr a:hover {COLOR: #ef6e12; TEXT-DECORATION: underline; background-color: #222222;}
.hvr a:active {COLOR: #ef6e12; TEXT-DECORATION: underline}

.nohvr a:link {COLOR: #f2f2f2; TEXT-DECORATION: none}
.nohvr a:visited {COLOR:#f2f2f2; TEXT-DECORATION: none}
.nohvr a:hover {COLOR: #f2f2f2; TEXT-DECORATION:  none}
.nohvr a:active {COLOR: #f2f2f2; TEXT-DECORATION:  none}

.basketfont a:link {COLOR: #075fad; TEXT-DECORATION: none}
.basketfont a:visited {COLOR:#075fad; TEXT-DECORATION: none}
.basketfont a:hover {COLOR: #075fad; TEXT-DECORATION:  none; border-bottom: 2px dotted #075fad;}
.basketfont a:active {COLOR: #075fad; TEXT-DECORATION:  none}

.regfont a:link {COLOR: #222222; TEXT-DECORATION: none}
.regfont a:visited {COLOR:#222222; TEXT-DECORATION: none}
.regfont a:hover {COLOR: #ef6e12; TEXT-DECORATION:  none}
.regfont a:active {COLOR: #222222; TEXT-DECORATION:  none}

.onav2 a:link {COLOR: #f2f2f2; TEXT-DECORATION: none}
.onav2 a:visited {COLOR:#f2f2f2; TEXT-DECORATION: none}
.onav2 a:hover {COLOR: #ef6e12; TEXT-DECORATION: underline}
.onav2 a:active {COLOR: #ef6e12; TEXT-DECORATION: underline}
.panel {
background-color:#dddfe2;
background:#dddfe2;
background-image: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), to(#c9cbcd));
background-image: -webkit-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: -moz-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: -o-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: -ms-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: linear-gradient(to bottom, #f2f2f2, #c9cbcd);
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;


}
.navbar .divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #b5b7b8;
}
.navbar .divider-vertical2 {
  height: 40px;
  margin: 0 9px;
  border-right: 1px solid #252525;
  border-left: 1px solid #1f1f1f;
}



.nav-tabs {
  border-bottom: 1px solid #c9cbcd;
  margin-bottom: 0px;
}

.lnk a:link {COLOR: #075fad; TEXT-DECORATION: none; border-bottom: 1px dotted #075fad;}
.lnk a:visited {COLOR:#075fad; TEXT-DECORATION: none; border-bottom: 1px dotted #075fad;}
.lnk a:hover {COLOR: #ef6e12; TEXT-DECORATION:  none; border-bottom: 1px dotted #ef6e12;}
.lnk a:active {COLOR: #222222; TEXT-DECORATION:  none; border-bottom: 1px dotted #075fad;}


.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #c9cbcd #c9cbcd #c9cbcd;
  margin-bottom: 0px;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #f2f2f2;
  cursor: default;
  background-color: #075fad;
  border: 1px solid #075fad;
  border-bottom-color: transparent;
  margin-bottom: 0px;
}

.tab-content {
  padding:20px;
  margin-top: 0px;
  -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
background-image: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), to(#c9cbcd));
background-image: -webkit-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: -moz-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: -o-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: -ms-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: linear-gradient(to bottom, #f2f2f2, #c9cbcd);
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
}

.mr {
margin-right: 10px;
}
.ml {
margin-left: 10px;
}
.hr {
background-color: #111111;
border-bottom: 1px solid #222222;
height: 2px;
margin: 10px 0;
width: 100%;
}
.hr2 {
background-color: #464748;
border-bottom: 1px solid #646566;
height: 2px;
margin: 10px 0;
width: 100%;
}
.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
* {
margin: 0px 0px 0px 0px;

}


body:not(#Foo) label
  {padding:2px 5px 10px 30px;}

body:not(#Foo) input[type=radio]
  {display:none;}

body:not(#Foo) input[type=radio] + label
  {background:url('http://localhost/images/radio0.png') no-repeat 0px 0px;}

body:not(#Foo) input[type=radio]:checked + label
  {background:url(http://localhost/images/radio1.png) no-repeat 0px 0px;}

.toright{
float: right;
}

.nowrap{
white-space: nowrap;
}

.hidden {
display: none;
visibility: hidden;
}
.navi a{
text-decoration: none;
padding: 5px 1px 5px 1px;
}

.customdiv {
padding: 5px 0px 5px 0px;
border-bottom: solid 1px #c9cbcd;

}

.navi a:hover{
background: #d3d5d7;
text-decoration: none;
padding: 5px 1px 5px 1px;
-webkit-box-shadow: 0 0px 10px #797a7b;
-moz-box-shadow:0 0px 10px #797a7b;
box-shadow: 0 0px 10px #797a7b;
}
.onavi a{
text-decoration: none;
padding: 5px 1px 5px 1px;
}
.onavi a:hover{
background: #d3d5d7;
text-decoration: none;
padding: 5px 1px 5px 1px;
-webkit-box-shadow: 0 0px 10px #797a7b;
-moz-box-shadow:0 0px 10px #797a7b;
box-shadow: 0 0px 10px #797a7b;
}

.tip{
padding: 5px 5px 5px 5px;
}

.round3{
padding: 10px 10px 10px 10px;
margin: 0px 0px 0px 0px;
}
.round4{
width: 97%;
margin: 10px 10px 10px 0px;
background: #dadada 135px 2px ;
padding: 5px 10px;
top: 9px;
border: none;


}
.sticky {
background: #dadada 135px 2px ;
background-image: url(grad.php?h=400&w=1&e=f2f2f2&s=f2f2f2&d=vertical);
}
.img{
margin: 10px 10px 10px 10px;
-webkit-box-shadow: 0 0px 3px #a1a2a4;
-moz-box-shadow:0 0px 3px #a1a2a4;
box-shadow:0 0px 3px #a1a2a4;
}

BODY A:link {COLOR: #075fad; TEXT-DECORATION: none}
BODY A:visited {COLOR: #075fad; TEXT-DECORATION: none}
BODY A:hover {COLOR: #075fad; TEXT-DECORATION: none; }
BODY A:active {COLOR: #075fad; TEXT-DECORATION: none}

.lk {COLOR: #ffffff; TEXT-DECORATION: none}
.in {
float: left;
align: center;
margin: 10;
padding: 10;
}
.user {
float: left;
align: left;
margin: 5;
padding: 5;
}
.toright {
float: right;
}
.out {
overflow: scroll;
align: center;
margin: 10;
padding: 10;
width: 100%;
}

TD {FONT: 9pt Verdana; align: left; }
TH {FONT: 9pt Verdana; align: left; }
P {FONT: 9pt Verdana; align: left; }
SELECT {FONT: 9pt Verdana}
FORM {DISPLAY: inline;}
LABEL {CURSOR: default;}
.normal {FONT-WEIGHT: normal;}
.load {background-image: url('images/ind.gif'); background-repeat: none; background-position: center}
a.menu { color: black; }
H1 {
padding : 5px 10px 5px 0px;
margin : 0px 0px 0px 0px;
font-size : 14px;
font-weight : bolder;
line-height: 1.1em;
margin: 0pt;
}
H2 {
line-height: 1.1em;
margin: 0pt;
}
.search_tips {
text-align: left;
padding: 3px 3px 10px 3px;
height: 150px;
margin-top: 11px;
margin-left: 2px;
margin-right: 40px;
position: absolute;
z-index: 15;
background-color: #f2f2f2;
overflow: hidden;
-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 4px rgba(0,0,0,0.5);
box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
.search_tips .stCont {
width: auto;
height: 100%;
padding: 3px 3px 10px 3px;
overflow: auto;
}


.ocat1 {
margin: 10px 0px 10px 0px; padding: 10px;
background-image: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), to(#c9cbcd));
background-image: -webkit-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: -moz-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: -o-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: -ms-linear-gradient(top, #f2f2f2, #c9cbcd);
background-image: linear-gradient(to bottom, #f2f2f2, #c9cbcd);
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;

}
.cat1 {
font-size: 11pt;
border-bottom: #c9cbcd 1px dotted;

}

.ccat1 {
font-size: 11pt;
padding: 5px 5px 5px 5px;
margin: 10px 0px 0px 0px;
border-bottom: #c9cbcd 1px dotted;

}

.lcat1{
color: #ffffff;
font-size: 10pt;
padding: 5px 5px 5px 5px;
cursor: pointer;
cursor:hand;
}
.lcat1 a:link{
color: #ffffff;
}
.lcat1 a:visited{
color: #ffffff;
}

.lcat1:hover{
font-size: 10pt;
color: #f2f2f2;
padding: 5px 5px 5px 5px;
background: #075fad;
}
.lcat1:hover a{
font-size: 10pt;
color: #f2f2f2;
}


.brand{
font-size: 10pt;
padding: 5px 5px 5px 5px;
cursor: pointer;
cursor:hand;
}
.brand a:link{
color: #ef6e12;
}
.brand a:visited{
color: #ef6e12;
}
.brand:hover{
font-size: 10pt;
color: #ef6e12;
padding: 5px 5px 5px 5px;
background: #075fad;
}
.brand:hover a{
font-size: 10pt;
color: #ef6e12;
background: #075fad;
border-bottom: 1px #ef6e12 dotted;
}

.cat1:hover {
font-size: 11pt;
color: #f2f2f2;
background: #[nc10];
border-bottom: #c9cbcd 1px solid;

}
.cat1:hover a{
font-size: 11pt;
color: #f2f2f2;
background: #[nc10];
border-bottom: #c9cbcd 1px solid;

}
.cat1 a:hover {
font-size: 11pt;
color: #f2f2f2;
background: #[nc10];
border-bottom: #c9cbcd 1px solid;

}
.cat1 a:active {
font-size: 11pt;
color: #f2f2f2;
background: #[nc10];
border-bottom: #c9cbcd 1px solid;

}

.submenuitem {
padding: 5px 5px 5px 5px;
margin: 10px 0px 0px 0px;
border-bottom: #c9cbcd 1px dotted;
cursor:pointer;
cursor:hand;
}
.submenuitem:hover {
background: #c9cbcd;
padding: 5px 5px 5px 5px;
margin: 10px 0px 0px 0px;
border-bottom: #c9cbcd 1px solid;
cursor:pointer;
cursor:hand;

}

.underlined {
padding: 5px 5px 5px 5px;
margin: 10px 0px 0px 0px;
border-bottom: #ef6e12 1px solid;

}

.cat3 {
border: 2px solid #c9cbcd;
padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px;
margin: 10px 0px 0px 0px;
background-image: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), to(#b5b7b8), color-stop(3%, #f2f2f2), color-stop(12%, #b5b7b8), color-stop(90%, #f2f2f2));
background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #b5b7b8 12%, #f2f2f2 90%, #b5b7b8);
background-image: -moz-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #b5b7b8 12%, #f2f2f2 90%, #b5b7b8);
background-image: -o-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #b5b7b8 12%, #f2f2f2 90%, #b5b7b8);
background-image: -ms-linear-gradient(top, #f2f2f2, #f2f2f2 3%, #b5b7b8 12%, #f2f2f2 90%, #b5b7b8);
background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2 3%, #b5b7b8 12%, #f2f2f2 90%, #b5b7b8);
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;
box-shadow: 0 1px 5px rgba(0,0,0,0.29), inset 0 0 7px #f2f2f2;

}

.cat2 {
padding: 5px 5px 5px 5px;
margin: 0px 0px 0px 0px;

}
.categories {
background-image: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), to(#7a7a7a), color-stop(0%, #f2f2f2), color-stop(0%, #f2f2f2), color-stop(100%, #7a7a7a));
background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2 0%, #f2f2f2 0%, #7a7a7a 100%, #7a7a7a);
background-image: -moz-linear-gradient(top, #f2f2f2, #f2f2f2 0%, #f2f2f2 0%, #7a7a7a 100%, #7a7a7a);
background-image: -o-linear-gradient(top, #f2f2f2, #f2f2f2 0%, #f2f2f2 0%, #7a7a7a 100%, #7a7a7a);
background-image: -ms-linear-gradient(top, #f2f2f2, #f2f2f2 0%, #f2f2f2 0%, #7a7a7a 100%, #7a7a7a);
background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2 0%, #f2f2f2 0%, #7a7a7a 100%, #7a7a7a);

padding: 1px 5px 1px 5px;
margin: 5px 1px 1px 1px;
}
.oround {

padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px;
background: #d3d5d7;
-webkit-box-shadow: 0 0px 5px #797a7b;
-moz-box-shadow:0 0px 5px #797a7b;
box-shadow: 0 0px 5px #797a7b;
}
.round {
padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px;
}
.round2 {
margin: 10px 10px 10px 10px;
padding: 10px 10px;
width: auto;
background: #f2f2f2;
border: none;
}
.oround2 {
margin: 10px 10px 10px 10px;
padding: 10px 10px;
width: auto;
background: #f2f2f2;
border: none;
-webkit-box-shadow: 0 0px 15px #a1a2a4;
-moz-box-shadow:0 0px 15px #a1a2a4;
box-shadow: 0 0px 15px #a1a2a4;
}
.comm {
margin: 0px 5px;
padding: 5px 5px;
width: auto;
background: #dadada;
box-shadow: 0 -1px 1px #c9cbcd;
-moz-box-shadow: 0 -1px 1px #c9cbcd;
-webkit-box-shadow: 0 -1px 1px #c9cbcd;
}
.price {
color:#222222;
font: 20pt Georgia;
}
.newprice {
color:#222222;
font: 20pt Georgia;
color:#b94a48;
}
.oldprice {
color:#222222;
font: 20pt Georgia;
text-decoration: line-through;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #c9cbcd -moz-use-text-color #c9cbcd;
  border-style: solid none;
  border-width: 2px 0;
  margin: 6px 0;
}
#jCarouselLiteDemo .carousel a.prev, #jCarouselLiteDemo .carousel a.next {
display: block;
width: 20px;
margin: 10px 10px 10px 10px;
height: 143px;
text-decoration: none;
cursor: pointer;
cursor: hand;
background: url("http://localhost/images/prevc.png") left 70px no-repeat;
}
#jCarouselLiteDemo .carousel a.next {
background: url("http://localhost/images/nextc.png") left 70px no-repeat;
}
#jCarouselLiteDemo .carousel a.next:hover {
background: url("http://localhost/images/nextc.png") left 72px no-repeat;
}
#jCarouselLiteDemo .carousel a.prev:hover {
background: url("http://localhost/images/prevc.png") left 72px no-repeat;
}
#jCarouselLiteDemo .carousel a:hover, #jCarouselLiteDemo .carousel a:active {

}






#jCarouselLiteDemo .carousel .jCarouselLite {
position: relative;
visibility: hidden;
left: -5000px;
height: 200px;
margin: 0;
padding: 0;
}


#jCarouselLiteDemo .carousel li{
width: 195px;
margin: 5px 5px 5px 5px;
padding: 0;
}
.regbut {
height: 50 px;
background: #005403;
background-image: url(grad.php?h=55&w=1&e=005403&s=2de810&d=crystal);
padding: 13px 26px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
box-shadow: rgba(0,0,0,1) 0 1px 0;
text-shadow: rgba(0,0,0,.4) 0 1px 0;
font-size: 19px;
text-decoration: none;
vertical-align: middle;
color: #ffffff;
cursor: pointer;
cursor: hand;
}
.regbut:hover {
border-top-color: #18a10b;
background-image: url(grad.php?h=75&w=1&e=005403&s=2de810&d=crystal);
background: #18a10b;
color: #ffffff;
}
.regbut:active {
background-image: url(grad.php?h=75&w=1&e=005403&s=2de810&d=crystal);
border-top-color: #265c1b;
background: #265c1b;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #1677c2;
  background: rgba(22, 119, 194, 0.55);
}
 .dow {
 font-weight: bold;
    border-top: 1px solid #1677c2 !important;
    color:#1677c2;
}


#fb_xdm_frame_http, #fb_xdm_frame_https { display:none; border:none; }

.btn-file { position: relative; overflow: hidden; margin-right: 4px; }
.btn-file input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; filter: alpha(opacity=0);
transform: translate(-300px, 0) scale(4); font-size: 23px; direction: ltr; cursor: pointer; }
/* Fix for IE 7: */
* + html .btn-file { padding: 2px 15px; margin: 1px 0 0 0; }
ul.scroll-menu {
    position: relative;
    width: 100%;
    max-height:250px;
    margin: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    display: block !important;
    overflow-y: auto;
    overflow-x: auto;
    top: 0 !important;
    left: 0 !important;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
ul.scroll-menu-2x {
    max-height: 230px;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
