table {  border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
a:visited {  color: #005ED2; text-decoration: none}
a:link {  color: #005ED2; text-decoration: none}
a:hover {  color: #FF3366; text-decoration: none}
